/*********/
/*Fuentes*/
/*********/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --texto: rgb(255, 255, 255);
  --bgclr: rgb(255, 255, 255);
  --blue200: rgb(33, 180, 210);
  --blue400: rgb(20, 141, 172);
  --black200: rgb(150, 150, 150);
  --black400: rgb(85, 85, 85);
  --black600: rgb(25, 25, 25);
}

body {
  padding-top: 3.2rem;
  background-color: var(--bgclr);
}


.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.8rem 3rem;
  background-color: var(--black600);
  color: var(--texto);
}

.nav_titulo a {
  margin-right: 2rem;
  text-decoration: none;
  color: var(--texto);
}

.nav_links {
  display: flex;
  gap: 1.2rem;
  justify-content: space-evenly;
  font-size: 1rem;
}

.nav_links a {
  position: relative;
  text-decoration: none;
  color: var(--texto);
}


.banner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-size: cover;
}

li {
  list-style: none;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 5rem 0;
  width: 100%;
  background-color: var(--black600);
  color: var(--texto);
  font-size: 0.9rem;
}

.footer_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer_section,
.medios_pago {
  width: 16rem;
  padding: 0 1rem;
}

.footer_section h3,
.medios_pago h3 {
  margin-bottom: 0.7rem;
}

.footer_section a {
  color: inherit;
  text-decoration: none;
}

.footer_section a,
.footer_redes a {
  opacity: 0.6;
  transition: opacity 250ms ease;
}

.medios_pago {
  margin-top: 3rem;
}

.medios_pago ul {
  display: flex;
  gap: 0.5rem;
}

.medios_pago li {
  width: 40px;
  height: 25px;
}

.medios_pago img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.copyright {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  opacity: 0.8;
  font-size: 0.85rem;
}